<%= form_with(model: loja, local: true) do |form| %>
  <% if loja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loja.errors.count, "error") %> prohibited this loja from being saved:</h2>

      <ul>
      <% loja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :loja_name %>
  </div>

  <div class="field">
    <%= form.label :descrcao %>
    <%= form.text_area :descrcao, id: :loja_descrcao %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :loja_tag %>
  </div>

  <div class="field">
    <%= form.label :segmente %>
    <%= form.text_field :segmente, id: :loja_segmente %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
