
<div>
  <ul id="dropdown1" class="dropdown-content ">
    <li><%= link_to 'Usuários', users_path %></li>
    <li><%= link_to 'Loja', lojas_path %></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper amber darken-3">

        <li class="brand-logo responsive-img"> <%= link_to 'Logo', page_index_path %> <img class="responsive-img" src="8.png"></li>
      <ul class="right hide-on-med-and-down">


        <li><%= link_to 'Usuários', users_path %></li>
        <li><%= link_to 'Lojas', lojas_path %></li>
        <li><%= link_to 'Sobre', page_sobre_path %></li>
      </ul>


    </div>

  </nav>


<!-- <a href="#index" class="brand-logo"><%= image_tag("8.png") %></a> -->
</div>
