<!-- naverbar -->
<%= render 'page/user_navbar' %>

<body>
      <div>
        <div class="row">
        <!-- left -->
          <%= render 'page/left/user_left' %>

        <div class="col s7">
          <!-- center -->

          <%= render 'page/center/user_center' %>


        <div class="col s3">
          <!-- right -->
          <%= render 'page/right/user_right' %>

        </div>
      </div>
      </div>
    </body>

<!-- footer -->
<%= render 'page/user_footer' %>
